<!DOCTYPE html>
<html>

<body>
    {% extends "layout.html" %}
    {% block content %}
    <div id="banner_bg">
        <h1>Contact Us</h1>
    </div>
    <div class="ContactUs_Title">
        <h1>ติดต่อพวกเรา</h1>
    </div>
    <div class="ContactUs_Mail">
        <img src="static/images/email.png" alt="Mail">
        <a href=""><h2>swufit@gmail.com</h2></a>
    </div>
    <div class="ContactUs_Facebook">
        <img src="static/images/facebook.png" alt="Facebook">
        <a href=""><h2>SWUFit</h2></a>
    </div>
    <div class="ContactUs_Line">
        <img src="static/images/line.png" alt="Line">
        <a href=""><h2>@SWUFit</h2></a>
    </div>
    {% endblock %}
</body>

</html>