<!DOCTYPE html>
<html>

<body>
  {% extends "layout.html" %}
  {% block content %}
  <div class="home">
    <div class="hometext1">SWUFit</div>
    <div class="hometext2">Your home trainer</div>
    <div class="hometext3"><a href="/WhatIsSWUFit">
      What is SWUFit
      <img src="static/images/arrow.png" alt="arrow"></a>
    </div>
    <div class="hometext4"><a href="/selection">
      <img id="h4img1" src="static/images/muscleR.png" alt="arrow">
      Let's Begin!
      <img id="h4img2" src="static/images/muscleL.png" alt="arrow"></a>
    </div>
  </div>
  {% endblock %}

</body>

</html>