<!DOCTYPE html>
<html>
    <script src="static/scripts/leftdumbbellcurlGuidePopup.js"></script>
<body>
    {% extends "layout.html" %}
    {% block content %}
    <div class="content2">
        <div class="guideButton">
            <div onclick="togglePopup()"><img src="static/images/guide.png" alt="guide"></div>
        </div>
        <div class="CamTitle"><h1>Dumbbell Curl (Left Side)</h1></div>
        <div class="center">
            <img src="{{ url_for('leftcurl_cam')}}">
        </div>
        <div class="center" id="trs">
            <a href="/rightdumbbellcurl"><button class="button button1">Try right side</button></a>
        </div>
        <div class="popup" id="popup-9">
            <div class="overlay"></div>
            <div class="guideContent">
                <div class="close-btn" onclick="togglePopup()">&times;</div>
                <div id="nextGIF" onclick="nextGIF()">&gt;</div>
                <div><br></div>
                <div id="backGIF" onclick="backGIF()">&lt;</div>
                <div class="gifPopup" id="gifPopup-1">
                    <img id="gif1" src="static/images/9.gif" alt="guide">
                    <img id="gif2" src="static/images/10.gif" alt="guide">
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</body>

</html>