<!DOCTYPE html>
<html>
    <body>
        {% extends "layout.html" %}
        {% block content %}
        <div class="welcome" style="color: white;">
            <h1 style="font-size: 65px;
            text-align: center;
            font-weight: 800;
            font-family: baloo;">What's you choice today?</h1>   
           </div>
           <h3 style="font-size: 65px;
            text-align: center;
            font-weight: 800;
            font-family: baloo;">Good luck!</h3>   
           </div>
           <div class="Curl">
            <a  href="/barbellcurl">Barbell curl</a>
            </div>
        <div class="Squat">
            <a  href="/squat">Barbell Squat</a>
        </div>
        <div class="Lift">
            <a  href="/lift">Deadlift</a>
        </div>
        {% endblock %}
    </body>
</html>