<!DOCTYPE html>
<html>

<body>
    {% extends "layout.html" %}
    {% block content %}
    <div id="banner_bg">
        <h1>Exercise List</h1>
    </div>
    <div class="TemplateGroup4">
        <div class="selectionTemplate">
            <div class="TitleTemplat">
                <h1>Chest Front Raise</h1>
            </div>
            <img src="static/images/dumbbell-front-raise-form.gif" alt="">
            <div class="buttonTemplate">
                <a href="/Right_Chest_Front_Raise"><button>Try this</button></a>
            </div>
        </div>
        <div class="selectionTemplate">
            <div class="TitleTemplat">
                <h1>Shoulder Press</h1>
            </div>
            <img src="static/images/Standing-Dumbbell-Overhead-Press.gif" alt="">
            <div class="buttonTemplate">
                <a href="/Both_Side_Shoulder_Press"><button>Try this</button></a>
            </div>
        </div>
        <div class="selectionTemplate">
            <div class="TitleTemplat">
                <h1>Lateral Raise</h1>
            </div>
            <img src="static/images/Dumbbell-Lateral-Raise.gif" alt="">
            <div class="buttonTemplate">
                <a href="/Both_Side_Lateral_Raise"><button>Try this</button></a>
            </div>
        </div>
        <div class="selectionTemplate">
            <div class="TitleTemplat">
                <h1>Leaning Dumbbell Row</h1>
            </div>
            <img src="static/images/Bent-Over-Dumbbell-Row.gif" alt="">
            <div class="buttonTemplate">
                <a href="/Right_Leaning_Dumbbell_Row"><button>Try this</button></a>
            </div>
        </div>
    </div>
    <div class="TemplateGroup4">
        <div class="selectionTemplate">
            <div class="TitleTemplat">
                <h1>Dumbbell Curl</h1>
            </div>
            <img src="static/images/Dumbbell-Curl.gif" alt="">
            <div class="buttonTemplate">
                <a href="/rightdumbbellcurl"><button>Try this</button></a>
            </div>
        </div>
        <div class="selectionTemplate">
            <div class="TitleTemplat">
                <h1>Barbell Squat</h1>
            </div>
            <img src="static/images/BARBELL-SQUAT.gif" alt="">
            <div class="buttonTemplate">
                <a href="/barbellsquat"><button>Try this</button></a>
            </div>
        </div>
        <div class="selectionTemplate">
            <div class="TitleTemplat">
                <h1>Deadlift</h1>
            </div>
            <img src="static/images/Barbell-Deadlift.gif" alt="">
            <div class="buttonTemplate">
                <a href="/deadlift"><button>Try this</button></a>
            </div>
        </div>
        <div class="selectionTemplate">
            <div class="TitleTemplat">
                <h1>Lateral Raise</h1>
            </div>
            <img src="static/images/Dumbbell-Lateral-Raise.gif" alt="">
            <div class="buttonTemplate">
                <a href="/Both_Side_Lateral_Raise"><button>Try this</button></a>
            </div>
        </div>


        {% endblock %}
</body>

</html>