<!DOCTYPE html>
<html>
    <body>
        {% extends "layout.html" %}
        {% block content %}
    <div id="banner_bg">
        <h1>What is SWUFit ?</h1>
    </div>
    <div class="WhatIsSWUFit_Title">
        <h1>SWUFit คืออะไร?</h1>
    </div>
    <div class="WhatIsSWUFit_Content">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SWUFit คือโครงงานของพวกเรานักศึกษาคณะวิทยาศาสตร์ สาขาวิทยาการคอมพิวเตอร์ ชั้นปีที่ 4<br>
        มหาวิทยาลัยศรีนครินทร์วิโรฒ SWUFit เป็นเว็บไซต์ช่วยเหลือในการออกกำลังกายแบบ Weight Training<br>
        โดย SWUFit นั้นจะช่วยสอนวิธีการออกกำลังกายที่ถูกต้องตามมาตรฐานอย่างปลอดภัย</p>
    </div>
    {% endblock %}
    </body>
</html>